apiVersion: v1
kind: ConfigMap
metadata:
  name: mastodon-init-storage-config
data:
  config.json: |
    {
      "version": "9",
      "hosts": {
        "minio": {
          "url": "http://minio:9000",
          "accessKey": "minio",
          "secretKey": "minio123",
          "api": "s3v4",
          "lookup": "auto"
        }
      }
    }
---
apiVersion: batch/v1
kind: Job
metadata:
  name: mastodon-init-storage
spec:
  template:
    spec:
      initContainers:
      - name: alpine
        image: alpine:3.23.3@sha256:25109184c71bdad752c8312a8623239686a9a2071e8825f20acb8f2198c3f659
        command: ["sh", "-c", "until nc -z minio 9000; do sleep 3; done"]
      containers:
      - name: mc
        image: minio/mc:RELEASE.2019-10-09T22-54-57Z@sha256:cfa18a5564f7649080792212d0a9281b60b1a732ef329877f56fc108cee5f012
        command:
        - sh
        - -c
        - mc mb minio/storage; mc policy set public minio/storage/
        volumeMounts:
        - mountPath: /root/.mc/config.json
          subPath: config.json
          readOnly: true
          name: mastodon-init-storage-config
      restartPolicy: OnFailure
      volumes:
      - name: mastodon-init-storage-config
        configMap:
          name: mastodon-init-storage-config
