apiVersion: batch/v1
kind: Job
metadata:
  name: search-deploy
spec:
  template:
    spec:
      containers:
      - name: mastodon
        image: ghcr.io/mastodon/mastodon:nightly@sha256:1c2c5a0e282f70c74adda3fe300f788d0b152fb2a99cc4b40e52b99231d177b6
        envFrom:
        - configMapRef:
            name: mastodon-env
        - secretRef:
            name: mastodon
        command: ["./bin/tootctl", "search", "deploy"]
      restartPolicy: Never
