apiVersion: apps/v1
kind: Deployment
metadata:
  name: mastodon-streaming
  labels:
    app: mastodon-streaming
spec:
  selector:
    matchLabels:
      app: mastodon-streaming
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 0
      maxSurge: 1
  template:
    metadata:
      labels:
        app: mastodon-streaming
    spec:
      containers:
      - name: mastodon
        image: ghcr.io/mastodon/mastodon-streaming:nightly@sha256:3122e917dfe67578058791a86e9d957f329fe344cfa24d23684e0433685a1d06
        command: ["node", "./streaming/index.js"]
        envFrom:
        - configMapRef:
            name: mastodon-env
        - secretRef:
            name: mastodon
        ports:
        - containerPort: 4000
        - containerPort: 4000
          name: metrics
        livenessProbe:
          httpGet:
            port: 4000
            path: /api/v1/streaming/health
          initialDelaySeconds: 60
          periodSeconds: 30
        readinessProbe:
          httpGet:
            port: 4000
            path: /api/v1/streaming/health
          initialDelaySeconds: 60
          periodSeconds: 30
