apiVersion: apps/v1
kind: Deployment
metadata:
  name: mastodon-worker
  labels:
    app: mastodon-worker
spec:
  selector:
    matchLabels:
      app: mastodon-worker
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 0
      maxSurge: 1
  template:
    metadata:
      labels:
        app: mastodon-worker
    spec:
      containers:
      - name: mastodon
        image: ghcr.io/mastodon/mastodon:nightly@sha256:072687e8c4e9b3aad97b995f90a87a0c8d52e01610f8909214d440127348c209
        command: ["bundle", "exec", "sidekiq", "-c", "15"]
        envFrom:
        - configMapRef:
            name: mastodon-env
        - secretRef:
            name: mastodon
        env:
        - name: MASTODON_PROMETHEUS_EXPORTER_LOCAL
          value: "true"
        - name: MASTODON_PROMETHEUS_EXPORTER_HOST
          value: "0.0.0.0"
        ports:
        - containerPort: 9394
        livenessProbe:
          exec:
            command:
            - sh
            - -c
            - 'REDIS_URL=${SIDEKIQ_REDIS_URL:-${REDIS_URL:-redis://:${REDIS_PASSWORD}@${REDIS_HOST}:${REDIS_PORT}}} sidekiqmon processes | grep ${HOSTNAME}'
          initialDelaySeconds: 30
          timeoutSeconds: 15
          periodSeconds: 30
        readinessProbe:
          exec:
            command:
            - sh
            - -c
            - 'REDIS_URL=${SIDEKIQ_REDIS_URL:-${REDIS_URL:-redis://:${REDIS_PASSWORD}@${REDIS_HOST}:${REDIS_PORT}}} sidekiqmon processes | grep ${HOSTNAME}'
          initialDelaySeconds: 30
          timeoutSeconds: 15
          periodSeconds: 30
        startupProbe:
          exec:
            command:
            - sh
            - -c
            - 'REDIS_URL=${SIDEKIQ_REDIS_URL:-${REDIS_URL:-redis://:${REDIS_PASSWORD}@${REDIS_HOST}:${REDIS_PORT}}} sidekiqmon processes | grep ${HOSTNAME}'
          initialDelaySeconds: 30
          timeoutSeconds: 15
          periodSeconds: 30
