apiVersion: apps/v1
kind: Deployment
metadata:
  name: mastodon-web
  labels:
    app: mastodon-web
spec:
  selector:
    matchLabels:
      app: mastodon-web
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 0
      maxSurge: 1
  template:
    metadata:
      labels:
        app: mastodon-web
    spec:
      containers:
      - name: mastodon
        image: ghcr.io/mastodon/mastodon:nightly@sha256:39db2d87e80c1d83caeb57f9ea07027a1662214377e3ff0574234f3ee196212f
        command: ["bundle", "exec", "puma", "-C", "config/puma.rb"]
        envFrom:
        - configMapRef:
            name: mastodon-env
        - secretRef:
            name: mastodon
        ports:
        - containerPort: 3000
        livenessProbe:
          httpGet:
            port: 3000
            path: /health
          initialDelaySeconds: 180
          timeoutSeconds: 15
          periodSeconds: 30
        readinessProbe:
          httpGet:
            port: 3000
            path: /health
          initialDelaySeconds: 180
          timeoutSeconds: 15
          periodSeconds: 30
      - name: mastodon-prometheus-exporter
        image: ghcr.io/mastodon/mastodon:nightly@sha256:39db2d87e80c1d83caeb57f9ea07027a1662214377e3ff0574234f3ee196212f
        command: ["./bin/prometheus_exporter", "--bind", "0.0.0.0"]
        ports:
        - containerPort: 9394
