name: Validate

on:
  pull_request:
    types: [opened, synchronize]
  push:
    branches: [main]

jobs:
  validate:
    name: Validate
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@master

    - name: Kustomize (development)
      uses: docker://gcr.io/k8s-skaffold/skaffold:v2.17.0@sha256:a617cba919f5a1e21692752303b7bb4b2b1b8e0cf2266b8b73a614e28ddbed49
      with:
        args: build k8s/overlays/development
        entrypoint: kustomize

    - name: Kustomize (production)
      uses: docker://gcr.io/k8s-skaffold/skaffold:v2.17.0@sha256:a617cba919f5a1e21692752303b7bb4b2b1b8e0cf2266b8b73a614e28ddbed49
      with:
        args: build k8s/overlays/production
        entrypoint: kustomize

    - name: Set up mock Kubernetes server
      uses: helm/kind-action@v1

    - name: Set up Kustomize
      # renovate: datasource=github-releases depName=kustomize packageName=kubernetes-sigs/kustomize extractVersion=^kustomize/v(?<version>.+)$
      env:
        KUSTOMIZE_VERSION: 5.8.1
      run: |
        curl -Lo kustomize.tar.gz "https://github.com/kubernetes-sigs/kustomize/releases/download/kustomize%2Fv${KUSTOMIZE_VERSION}/kustomize_v${KUSTOMIZE_VERSION}_linux_amd64.tar.gz"
        tar xf kustomize.tar.gz
        sudo install kustomize /usr/local/bin/kustomize
        rm kustomize kustomize.tar.gz

    - name: Install GKE CRDs
      run: kubectl apply -f k8s/mock/crds.yaml

    - name: Validate against mock Kubernetes server (development)
      run: kustomize build k8s/overlays/development | kubectl apply --dry-run=server -f -

    - name: Validate against mock Kubernetes server (production)
      run: kustomize build k8s/overlays/production | kubectl apply --dry-run=server -f -
