name: Validate

on:
  pull_request:
    types: [opened, synchronize]
  push:
    branches: [main]

jobs:
  validate:
    name: Validate
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@master

    - name: Kustomize (development)
      uses: docker://gcr.io/k8s-skaffold/skaffold:v2.17.0@sha256:a617cba919f5a1e21692752303b7bb4b2b1b8e0cf2266b8b73a614e28ddbed49
      with:
        args: build k8s/overlays/development
        entrypoint: kustomize

    - name: Kustomize (production)
      uses: docker://gcr.io/k8s-skaffold/skaffold:v2.17.0@sha256:a617cba919f5a1e21692752303b7bb4b2b1b8e0cf2266b8b73a614e28ddbed49
      with:
        args: build k8s/overlays/production
        entrypoint: kustomize
